.c-list-card {
  display: flex;
  /* align-items: center; */
}

.c-list-card--completed .c-title,
.c-list-card--completed .c-list-card__subtitle {
  color: var(--light-grey);
  text-decoration: line-through;
}

.c-list-card .c-title {
  margin: 0;
}

.c-list-card__rank {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  background: var(--site-primary-alt);
  color: var(--white);
  border-radius: 50%;
}

.c-list-card__buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.c-list-card__button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.c-list-card__button svg {
  fill: var(--site-secondary);
}

.c-list-card__button--up {
  display: block;
  margin-right: 1rem;
  transform: rotate(90deg);
}

.c-list-card__button--down {
  display: block;
  transform: rotate(-90deg);
}

.c-list-card svg {
  width: 1rem;
}

.c-list-card__checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  margin-top: 9px;
}

.c-list-card__subtitle {
  font-size: var(--small);
  font-weight: 400;
  color: var(--light-grey);
}

.c-list-card__delete {
  border: none; 
  background: none;
  height: 1.6rem;
  margin-top: 4px;
}