.c-ride-card {
  display: flex;
  margin-bottom: 1rem;
}

.c-ride-card a {
  text-decoration: none;
  color: black;
}

.c-ride-card__details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.c-ride-card__date {
  display: block;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.c-ride-card__title {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0.1rem;
}

.c-ride-card__park {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: grey;
}

.c-ride-card__thumbnail {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.c-ride-card__thumbnail-container {
  position: relative;
  display: block;
}

.c-ride-card__score {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  font-size: var(--xx-small);
  color: #fff;
  font-weight: bold;
  background: var(--site-primary);
}