.c-search {
  /* height: 3.5rem; */
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #151E3F;
}

.c-search__input {
  margin-bottom: 1.2rem;
}

.c-search__text-input {
  font-size: 24px;
  border: none;
  outline: none;
}

.c-search__submit {
  border: none;
  background: none;
}

.c-search__submit svg {
  width: 1.5rem;
  height: 1.5rem;
} 

.c-search__wrapper {
  position: relative;
}

.c-search__wrapper--header {
  position: unset;
}

.c-search__wrapper--header .c-search__text-input {
  background: transparent;
  color: var(--white);
}

.c-search__wrapper--header .c-search__text-input::placeholder {
  color: var(--white);
}

.c-search__wrapper--header .c-search {
  border-bottom: none;
  color: var(--text-primary);
}

.c-search__wrapper--header .c-search__results {
  top: 100%;
  font-size: var(--small);
  color: var(--text-primary);
}

.c-search__results {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1rem;
  background: var(--white);
  border: 1px solid black;
  border-top: none;
}

.c-search__results li:not(:last-of-type) {
  margin-bottom: 1rem;
}

