@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.c-app {
  min-height: 100vh;
}

.c-app__content {
  margin: 1rem;
}

/* Resets */
ul, ol, p {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

ul a {
  text-decoration: none;
  color: #000;
}

/* variables */
:root {
  /* colors */
  --site-primary: #C16E70;
  --site-secondary: #DC9E82;
  --site-tertiary: #151E3F;
  --white: #fff;

  /* font sizes */
  --x-small: 14px;
  --small: 16px;
  --medium: 20px;
  --large: 24px;
  --jumbo: 100px;
}
