.c-progress-bar {
  width: 100%;
  height: 1rem;
  background-color: lightgray;
}

.c-progress-bar__inner {
  height: 1rem;
  background-color: #DC9E82;
  transition: all 1.5s ease-in-out;
  width: 0;
}

.c-progress-bar__labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
